<p id="notice"><%= notice %></p><br>

<div class="container">
    <h2>My Kombuchas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Flavor</th>
                <th>Alcohol</th>
            </tr>
        </thead>

        <tbody>
            <% @kombucha.each do |k| %>
                <tr>
                    <td><%= link_to k.brand, k %></td>
                    <td><%= k.flavor.name %></td>
                    <td><%= k.alcohol %></td>                    
                </tr>
                <br>
            <% end %>
        </tbody>
    </table><br>

    <%= link_to 'Add a new kombucha', new_kombucha_path %>

</div>