<p id="notice"><%= notice %></p><br>
<div class="container">
  <h2>Kombuchas</h2>           
  <table class="table">
    <thead>
      <tr>
        <th>Brand Name</th>
        <th>Flavor</th>
        <th>Alcohol</th>
      </tr>
    </thead>

    <tbody>
        <% @kombuchas.each do |k| %>
            <tr>
                <td><%= k.brand_name %></td>
                <td><%= link_to k.brand_name, k %></td>
                <td><%= k.flavor.name %></td>
                <td><%= k.alcohol %></td>
            </tr>
            <br>
            <br>
        <% end %>
    </tbody>
</table><br>

<button><%= link_to 'Add kombucha', new_kombucha_path %></button><br>
<br>

</div>