<p id="notice"><%= notice %></p><br>
<div class="container">
  <h2>Kombuchas</h2>           
  <table class="table">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Flavor</th>
        <th>Alcohol?</th>
      </tr>
    </thead>

    <tbody>
        <% @kombuchas.each do |k| %>
            <tr>
                <td><%= k.brand %></td>
                <td><%= k.flavor.name %></td>
                <td><%= k.alcohol %></td>
            </tr>
            <br>
            <br>
        <% end %>
    </tbody>
</table><br>

<button><%= link_to 'Add Kombucha', new_kombucha_path %></button><br>
<br>

</div>