<div class="container">
  <hr class="my-4">
  <h2 class="font-weight-lighter"><%= current_user.username %>'s Kombuchas</h2> 
  <br>        
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Brand Name</th>
        <th>Flavor</th>
        <th>Fl Oz</th>
      </tr>
    </thead>

    <tbody>
        <% @kombuchas.each do |kombucha| %>
            <tr>
                <td><%= link_to kombucha.brand, kombucha %></td>
                <td><%= kombucha.flavor.name %></td>
                <td><%= kombucha.ounces %></td>
            </tr>
        <% end %>
    </tbody>
</table><br>

<%= link_to 'Add New Kombucha', new_kombucha_path, class: "btn btn-info" %><br><br>
<%= link_to 'Alcoholic Kombuchas', kombuchas_alcohol_path, class: "btn btn-info" %><br><br>
<%= link_to 'Back', kombuchas_path, class: "btn btn-info" %>
<hr class="my-4">
</div>