<p id="notice"><%= notice %></p><br>

<div>
    <h2>My Kombuchas</h2>
    <table>
        <thead>
            <tr>
                <th>Low Calorie?</th>
                <th>Brand Name</th>
                <th>Flavor</th>
            </tr>
        </thead>

        <tbody>
            <% @kombucha.each do |kombucha| %>
                <tr>
                    <td><%= kombucha.low_calories %></td>
                    <td><%= link_to kombucha.low_calories, kombucha %></td>
                    <td><%= kombucha.brand_name %></td>
                    <td><%= link_to kombucha.brand_name, kombucha %></td>
                    <td><%= kombucha.flavor.name %></td>                    
                </tr>
                <br>
                <br>
            <% end %>
        </tbody>
    </table><br>

    <%= link_to 'Add a new kombucha', new_kmobucha_path %>

</div>