<br>
<h2><%= @kombucha.brand %></h2>
<br>
<p><strong> Ounces: </strong><%= @kombucha.ounces %></p>
<p><strong> Flavor: </strong><%= @kombucha.flavor.name %></p>
<p><strong> Alcohol: </strong><%= @kombucha.alcohol %></p>
<br>

<%= link_to 'Edit', edit_kombucha_path(@kombucha) %> |
<%= link_to 'Delete', @kombucha, method: :delete, data: {confirm: 'Confirm'} %>