<br>
  <hr class="my-4">
<div class="jumbotron">
  <h1 class="display-4">
  <%= @kombucha.brand %>
  </h1>
  <hr class="my-4">
  <p class="lead">
  <p><strong> Flavor: </strong><%= @kombucha.flavor.name %></p>
  <p><strong> Alcohol: </strong><%= @kombucha.alcohol %></p>
  <p><strong> Fl Oz: </strong><%= @kombucha.ounces %></p>
  </p>
    <%= link_to 'Edit', edit_kombucha_path(@kombucha), class: "btn btn-info" %> 
    <%= link_to 'Delete', @kombucha, method: :delete, data: {confirm: 'Confirm'}, class: "btn btn-info" %>
    <%= link_to 'Back', kombuchas_path, class: "btn btn-info" %>
</div>
  <hr class="my-4">


