
<header class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <%= link_to 'Home', root_path, class: "navbar-brand" %><br>
            </div>

            <ul class="nav navbar-nav navbar-right">        
                <% if user_signed_in? %>
                     Welcome, <%= current_user.username %>!<br>
                    <br>
                    <%= link_to 'Kombuchas', kombuchas_path %><br>
                    <br>
                    <%= link_to 'Log Out', destroy_user_session_path, method: "delete" %></li>
                <% else %>
                    <%= link_to 'Sign-up', new_user_registration_path %><br>
                    <br>
                    <%= link_to 'Log in', new_user_session_path %><br>
                <% end%>
            </ul>
            </div>
        </div>
    </nav>
</header>