<nav>
    <ul>
        <li><%= link_to 'Home', root_path %></li><br>
        <% if !user_signed_in? %>
            <li><%= link_to 'New User? Sign-up', new_user_registration_path %></li><br>
            <li><%= link_to 'Log in', new_user_session_path %></li><br>
        <% else %>
            <li> Welcome back <%= current_user.email %> !</li><br>
            <li><%= link_to 'Kombuchas', kombuchas_path %></li><br>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: "delete" %></li>
        <% end%>
    </ul>
</nav>